footer {
  grid-area: footer;

  p {
    color: $color-primary-light;
    font-size: 0.8rem;
    margin-top: $gutter;
  }

  >div {
    padding-top: $gutter-4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      margin-top: $gutter;
      align-items: center;

      li {
        margin: 0 $gutter;

        a {
          width: 25px;
          display: block;

          svg {
            fill: $color-primary;
            transition: fill 250ms;

            &:hover {
              fill: $color-primary-light;
            }
          }


        }
      }
    }
  }
}