@import "variables.scss", "header.scss", "footer.scss";

body {
  display: grid;
  grid-template:
    "header" calc($header-height + $gutter-2) "main" 1fr
    "footer" 110px;
}

main {
  grid-area: main;
}

.work-container {
  margin-top: $gutter-2
}

.work-details h1 {
  margin-top: $gutter-2;
  align-items: center;

  img {
    margin-bottom: $gutter;
    width: 30px;
  }
}

@media (max-width: $md-size) {
  .self-portrait img {
    margin: auto;
  }
}

@media (max-width: $sm-size) {
  .self-portrait img {
    display: none;
  }
}