@import "variables.scss", "header.scss", "footer.scss";

body {
  display: grid;
  grid-template:
    "header" calc($header-height + $gutter-2) "main" 1fr
    "footer" 140px;
}

main {
  grid-area: main;
}

.work-container {
  margin-top: $gutter-2
}

@media (max-width: $md-size) {
  .self-portrait img {
    margin: auto;
  }
}

@media (max-width: $sm-size) {
  .self-portrait img {
    display: none;
  }
}