$color-primary: #4e458c;
$color-primary-dark: #021226;
$color-primary-light: #a9a7d9;
$color-active: #02733e;
$color-highlight: #c6d93b;
$color-white: #ededed;

$gutter: 8px;
$gutter-2: calc($gutter*2);
$gutter-3: calc($gutter*3);
$gutter-4: calc($gutter*4);

$container-max-width: 1400px;
$header-height: 60px;

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;